@mixin window_widget
  // all: unset 

  background-color: $background
  color: $foreground
  margin: max($spacing, 8px)
  border-radius: 20px
  padding: $padding
  
  @if $shadows 
    box-shadow: 0 0 5px 0 $shadow-color




